.card-project-logo {
    width: 100%;
}

.table-project-logo {
    width: 40px;
    margin-right: 2%;
}

.table-project-lead-image {
    width: 30px;
    margin-right: 2%;
    height: 30px;
    border-radius: 50%;
}